@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inika:wght@400;700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inika", serif;
  scroll-behavior: smooth;
}

body {
  height: 3000px;
  background-color: #ffe8ce;
}

.header {
  background-image: url("../assets/landing_page_background2.png"), url("../assets/landing_page_background.png");
  height: 400px;
  background-size: 70%, 50%;
  background-repeat: no-repeat;
  background-position-x: right, 0;
  background-position-y: 0, -60px;
  background-color: rgba(0, 0, 0, 0.63);
  background-blend-mode: darken;
  background-attachment: fixed;
  box-shadow: 0 10px 7px rgb(117, 117, 117);
  display: flex;
}

.kanan {
  display: flex;
  padding: 6% 0;
  width: 600px;
  align-items: center;
  margin: 0 70px 0 auto;
  flex-direction: column;
}

.kiri {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 140px;
  color: #f1f1f1;
  flex-direction: column;
  font-size: 60px;
}

.kiri p {
  font-family: "Bebas Neue", sans-serif;
  line-height: 50px;
}

.kiri p:first-child {
  padding-top: 5px;
  border-top: 5px solid rgb(255, 255, 255);
}

.kiri p:last-child {
  position: relative;
  left: 40px;
  border-bottom: 5px solid rgb(255, 255, 255);
}

.header-text {
  display: flex;
  flex-direction: column;
}

.header-text p {
  color: #f1f1f1;
}

.header-parent-text {
  width: 500px;
}

.header-parent-text p {
  font-size: 45px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 3px;
}

.header-mini-text {
  margin: 20px 0;
  width: 510px;
}

.header-mini-text p {
  font-size: 15px;
  font-weight: lighter;
}

.header-button a {
  padding: 3px 10px;
  background-color: #f1f1f1;
  color: #000000;
  text-decoration: none;
}

.bottom-header {
  border-bottom: 1px solid #9d7952;
  margin: auto;
  padding-top: 1rem;
  width: 150px;
}

.bottom-header p {
  text-align: center;
}

#artikel {
  background-image: url("../assets/background-artikel.png");
  background-size: cover;
  background-position: center;
  min-height: 200vh;
}
.artikel-1 {
  padding-top: 3rem;
  width: 80%;
  margin: auto;
}

.judul-artikel {
  display: flex;
  justify-content: center;
}

.judul-artikel p:nth-child(1) {
  text-align: center;
  color: #3f3f3f;
  text-shadow: 4px 0px 5px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  font-family: "Bebas Neue", serif;
  font-weight: 500;
  margin-left: 320px;
}

.judul-artikel p:nth-child(2) {
  text-align: center;
  font-size: 20px;
  margin-left: auto;
  text-align: left;
  font-family: "Bebas Neue", serif;
  font-weight: 500;
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.isi-artikel {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.deskripsi-artikel {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.desk-kanan {
  width: 350px;
}

.desk-kanan p {
  font-size: 18px;
}

.desk-kanan p span {
  font-weight: 900;
}

.desk-kiri {
  width: 384px;
}

.desk-kiri p {
  font-size: 18px;
}

.desk-kiri p span {
  font-weight: 900;
}

.vektor-artikel {
  display: flex;
  height: 90px;
}

.vektor-1 {
  position: relative;
  top: 50px;
}

.vektor-artikel .vektor-1 img {
  position: relative;
  left: 500px;
  top: 40px;
  width: 110px;
}

.vektor-artikel .vektor-1 p {
  position: relative;
  left: 620px;
  width: 250px;
}

.vektor-2 {
  position: relative;
  top: 50px;
}

.vektor-2 img {
  position: relative;
  top: 350px;
  left: 560px;
  width: 80px;
}

.vektor-2 p {
  position: relative;
  top: 320px;
  left: 230px;
  width: 320px;
}

.vektor-3 {
  position: relative;
  bottom: 130px;
  right: 320px;
}

.vektor-3 img {
  position: relative;
  top: 450px;
  right: 120px;
  width: 110px;
}

.vektor-3 p {
  position: relative;
  top: 400px;
  width: 180px;
}

.foto-artikel {
  margin: auto;
  width: 100%;
  margin-left: 100px;
  padding-top: 4rem;
  display: flex;
}

.foto1 img {
  position: relative;
  top: 200px;
  left: 340px;
  width: 350px;
}

.foto2 img {
  width: 120px;
  position: relative;
  right: 10px;
  bottom: 15px;
}

.foto3 img {
  width: 250px;
  position: relative;
  left: 0;
  bottom: 0px;
}

.foto4 img {
  width: 200px;
  position: relative;
  right: 590px;
  bottom: 50px;
}

/* End Artikel 1 */

/* Artikel 2 */

.artikel-2 {
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
}

.judul-artikel-2 {
  padding: 10px;
  display: flex;
  align-items: center;
}

.judul-artikel-2 p {
  text-align: center;
  color: #3f3f3f;
  text-shadow: 4px 0px 5px rgba(0, 0, 0, 0.25);
  font-size: 35px;
  font-family: "Bebas Neue", serif;
  font-weight: 500;
  width: 490px;
  margin: auto;
}

.border-artikel-2 {
  display: flex;
  flex-direction: column;
}

.border-artikel-2 span {
  display: block;
  width: 400px;
  height: 3px;
  background-color: #2d4356;
  margin: 3px 0;
  display: flex;
}

.isi-artikel-2 {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.desk-artikel-2 {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}

.desk-kanan {
  margin-top: 80px;
}

.foto-artikel-2 .vektor-artikel {
  display: flex;
}

.foto-artikel-2 .vektor-artikel .vektor-1 img {
  position: relative;
  left: 260px;
  width: 30px;
}

.foto-artikel-2 .vektor-artikel .vektor-2 img {
  position: relative;
  left: 350px;
  top: 200px;
  width: 100px;
}

.foto-artikel-2 .foto-artikel {
  display: flex;
}

.foto-artikel-2 .foto-artikel .foto1 img {
  position: relative;
  top: -100px;
  left: 400px;
  width: 500px;
}

.foto-artikel-2 .foto-artikel .foto2 img {
  position: relative;
  width: 180px;
  top: 30px;
  left: -420px;
}

.foto-artikel-2 .foto-artikel .foto3 img {
  position: relative;
  width: 300px;
  bottom: 300px;
  left: -630px;
}

.bottom-artikel-2 {
  width: 80%;
  margin: auto;
  padding-bottom: 6rem;
}

.bottom-artikel-2 p {
  font-size: 17px;
}

.bottom-artikel-2 p span {
  font-weight: bolder;
}

.data-kemiskinan-artikel-2 {
  padding: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  background-image: url("../assets/background-data-kemiskinan.jpg");
}

.data-kemiskinan-artikel-2 p {
  color: #ffffff;
}

.judul-data-kemiskinan p {
  font-family: "Bebas Neue", sans-serif;
  margin-top: 60px;
  font-size: 35px;
}

.desk-data-kemiskinan {
  width: 880px;
  font-weight: lighter;
  padding-top: 1rem;
}

.desk-data-kemiskinan p {
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
}

.desk-data-kemiskinan p span {
  font-style: italic;
}

.desk-data-kemiskinan p span:last-child {
  font-style: normal;
  font-weight: 900;
}

.angka-kemiskinan {
  display: flex;
  justify-content: flex-end;
  margin-top: 6rem;
}

.angka {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 30px 10px;
  background-color: #000000cc;
  border-radius: 10px;
  margin: 0 20px;
}

.angka p {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  margin: 5px 0;
}

.angka p:last-child {
  font-size: 20px;
}
/* End Artikel 2 */
